<!DOCTYPE html>
<html>
<head>
  <title>Socketships</title>
  <%= csrf_meta_tags %>
  <style>
    #game-log span {
      display: block;
    }
    #game-log abbr {
      font-size: 70%;
    }
  </style>
</head>
<body>
<%= yield %>
<div id="game-log">
  <% Message.all.each do |m| %>
    <div class="<%= m.priority == 1 ? 'success' : 'info' %>">
      <abbr class="timeago" title="<%= m.created_at.to_time.iso8601 %>"><%= m.created_at.to_time.iso8601 %></abbr>
      <span><%= m.message %></span>
    </div>
  <% end %>
</div>

<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
  <script>
    jQuery("abbr.timeago").timeago();
  </script>
<input type="button" id="firebtn" onclick="this.disabled=true" value="Fire" disabled="disabled" />
<script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
</body>
</html>
